body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 65px;
    padding: 10px;
    background-color: #089041;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #076b31;
}

ul {
    max-width: 400px;
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 30px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.deleteButton:hover {
    background-color: #c82333;
}